.header {
  margin-bottom: 2rem;
  width: 100%;
  .nav {
    .ul {
      display: flex;
      justify-content: left;
      li {
        margin: 20px;
        padding: 10px;
        transition: 0.4s;
        &:hover {
          background-color: black;
          color: white;
          transition: 0.4s;
        }
      }
    }
  }
}
